<%- include("header") -%>
<h2>This is a Heading</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci dignissimos sint, consequuntur neque accusamus reprehenderit laborum soluta aspernatur, excepturi atque incidunt quasi at. Ad inventore amet eum vero, unde sunt.</p>
<%- include("footer") -%>